#hero{
    overflow: hidden;
    position: relative;
}

#hero .info-container{
    display: grid;
    grid-template-columns: auto 500px;
    gap: 20px;
    min-height: calc(100vh - 200px);
    padding-bottom: 180px;
}

#hero .info-container .column:nth-child(1){
    padding-top: 70px;
}

#hero p{
    font-size: 17px;
}

#hero .heading-1,
#hero .sub-title
{
    text-align: left;
}

#hero .wrapper .buttons-wrapper{
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

#hero .achivement-cluster{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    z-index: 1;
}

#hero .achivement-cluster .wrapper{
    padding: 30px 20px;
}


@media (max-width: 1050px) {
    #hero .info-container *{
        text-align: center;
    }

    #hero p{
        font-size: 14px;
    }

    #hero .info-container{
        grid-template-columns: 100%;
        min-height: calc(100vh - 150px);
        padding-bottom: 160px;
    }

    #hero .info-container .buttons-wrapper{
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    #hero .info-container{
        padding-bottom: 140px;
        min-height: calc(100vh - 120px);
    }

    #hero .info-container .column:nth-child(1){
        padding-top: 50px;
    }

    #hero .wrapper .buttons-wrapper{
        margin-top: 25px;
        gap: 15px;
    }
}